<header class="header" role="banner">
  <div class="tabs">
    <ul class="nav nav-pills">
      <li class="active"><a href="#all" data-toggle="tab">All</a>
      </li>
      <li><a href="#trash" data-toggle="tab">Trash</a>
      </li>
      <li><a href="#3a" data-toggle="tab">Daftar Username</a>
      </li>
    </ul>
  </div>

  <%= render("components/dropdown_profile") %>
</header>