SECRET_KEY_BASE="6aa04346f545d3fcb0e3431839e5983862c6d07781273b51dffadea2e37fd700ab9917431435bda4ae114c128054cff8853fad706c9ae35228d765c6d118fc84"

BASE_URL="http://0.0.0.0:4002"

# database master
DATABASE_NAME=dashboard_development
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOSTNAME=localhost
DATABASE_PORT="5432"
RAILS_MAX_THREADS="5"

# database pemilu
PEMILU_DATABASE_NAME=pemilu_development
PEMILU_DATABASE_USERNAME=
PEMILU_DATABASE_PASSWORD=
PEMILU_DATABASE_HOSTNAME=localhost
PEMILU_DATABASE_PORT="5432"
PEMILU_RAILS_MAX_THREADS="5"


# database pantau_auth
PANTAU_AUTH_DATABASE_NAME=pantau_auth_development
PANTAU_AUTH_DATABASE_USERNAME=
PANTAU_AUTH_DATABASE_PASSWORD=
PANTAU_AUTH_DATABASE_HOSTNAME=
PANTAU_AUTH_DATABASE_PORT="5432"
PANTAU_AUTH_RAILS_MAX_THREADS="5"

# AUTH
APP_ID=
APP_SECRET=
CALLBACK_IDENTITAS=
URL_IDENTITAS=

VERIFY_ENDPOINT="/v1/valid_token/verify"
CALLBACK_ENDPOINT="/v1/callback"

AUTH_PANTAU_BASE_URL=
PEMILU_BASE_URL =

#API
API_AUTH_URL =
API_PEMILU_URL =
API_NOTIFICATION_URL =
API_OPINIUM_SERVICE_URL =


# Internal API
PANTAU_AUTH_KEY=""
API_KEY_WORD_STADIUM=


# AWS PANTAU AUTH
AWS_KEY_ID=
AWS_KEY_SECRET=
AWS_BUCKET_NAME=
