@import 'modules/_vars.scss';

.editor{
  height: 200px;
}
.text-red {
	color: $red;
}

.modal-content-user-verifications {
    height: auto !important;
    padding-bottom: 10% !important;
}

.modal-body-user-verifications{
 height: 100%;
}

.modal-body-user-verifications img{
    width: 100%;
    height: 100%;
}