<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Kubu Team Pemenangan</th>
      <th>Tweet</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @detail["data"]["feed"]["account"]["username"] %></td>
      <td><%= @detail["data"]["feed"]["team"]["title"] %></td>
      <td><%= @detail["data"]["feed"]["source"]["text"] %></td>
    </tr>
  </tbody>
</table>
