.header { 
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: calc(100% - 240px);
  background: #bf241f;
  text-align: right;
  padding: 12px 30px;
  display: flex;
  @media (max-width: 767px) {
    position: relative;
    z-index: 9999;
    display: block;
    width: 100%;
    //height: 60px;
    padding: 0 20px;
  }
  .profile {
    display: inline-block;
    margin-left: auto;
    @media (max-width: 767px) {
      position: fixed;
      top: 8px;
      right: 10px;
      z-index: 9999;
    }
    button {
      padding: 0;
      background: transparent;
      border: 0;
      display: flex;
      align-items: center;
      img {
        width: 32px;
        border-radius: 100%
      }
      .desc {
        color: #fff;
        text-align: left;
        padding: 0 20px 0 10px;
        h5 {
          margin: 0;
          font-size: 14px;
        }
        p {
          margin: 0;
          font-size: 10px;
        }
      }
      .icon{
        img{
          width: 30px;
        }
      }
    }
    .dropdown-menu {
      min-width: 100px;
      right: 0;
      left: auto;
      a.dropdown-item {
        display: block;
        padding: 10px;
        color: black;
        font-weight: 500;
      }
    }
  }
  .tabs {
    margin: -12px -30px;
    @media (max-width: 767px) {
      margin: 0;
    }
    .nav {
      li {
        a {
          color: #cbcbcb;
          font-size: 14px;
          font-weight: 400;
          border-radius: 0;
          padding: 14px 30px;
          border-bottom: 5px solid transparent;
          @media (max-width: 990px) {
            padding: 14px 20px;
          }
          @media (max-width: 767px) {
            padding: 10px 8px;
          }
          &:hover{
            background: transparent;
            color: #fff;
            border-bottom: 5px solid #67010d;
            color: #fff;
          }
        }
      }
      .active{
        a {
          background: transparent;
          border-bottom: 5px solid #67010d;
          color: #fff;
        }
      }
    }
  }
}
.logo {
  padding: 30px 20px;
  width: 80%;
  margin: 0 auto;
  img {
    width: 100%;
  }
}
