.nav {
  ul {
    list-style: none;
    padding: 0;
    li {
      a {
        color: #393939;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.4px;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 10px 30px;
        img{
          width: 24px;
          margin-right: 10px;
        }
      }
      .sub-nav{
        a{
          font-size: 10px;
          padding-left: 64px;
          letter-spacing: 1px;
        }
        .active{
          background: #bd1c1c;
          color: #fff;
          border-left: 5px solid #67010d;
        }
      }
    }
  }
}
