<% content_for :head do -%>
  <%= javascript_pack_tag 'pages/about' %>
<% end -%>
<div id="about" class="container">
  <h1>Pages#about</h1>
  <p>{{message}}</p>
  <%= render "pages/room" %>
  <a href="<%= root_url %>">Home</a>
</div>

