<% content_for :head do -%>
  <%= javascript_pack_tag 'pages/home' %>
<% end -%>
<div id="page-home" class="container">
  <h1>Pages#home</h1>
  <p>{{message}}</p>
  <%= render "components/room" %>
  <a href="<%= pages_about_url %>">About</a>
</div>

