<div class="wrapper">
  <div class="login-wrap">
    <span>
      <div class="logo">
        <a href="/">
          <img src="<%= asset_pack_path("views/assets/images/logo.svg") %>" alt="Logo">
        </a>
      </div>
      <p>DASHBOARD</p>
    </span>
    <button type="button" class="btn btn-solid-red">Mulai</button>
    <%= render "devise/shared/links" %>
  </div>

  <footer class="footer" role="contentinfo">
  </footer>
</div>


