.btn-green {
  border: 1px solid #00c1a8;
  background: #fff;
  color: #00c1a8;
  font-size: 12px;
  padding: 8px 15px;
}
.btn-solid-green {
  background: #3ed1c0;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 30px;
  font-size: 12px;
}
.btn {
	@media (max-width: 990px) {
		min-width: 110px;
	}
}