<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Admin</th>
      <th>Katergori</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @list_cluster.each_with_index do |item, index| %>
    <tr>
      <td><%= index += 1 %></td>
      <td><%= item["name"] %></td>
      <td>Admin</td>
      <td><%= item["category"]["name"] %></td>
      <td>Created at</td>
    </tr>
    <% end %>
  </tbody>
</table>
